node_modules
.next
dist
out
build
.open-next

.env
.env.*
!.env.example
!.env.local.example
!.env.docker.example
!.env.local.docker.example
!**/.env.example
!**/.env.local.example
!**/.env.docker.example
!**/.env.local.docker.example

*.log
*.tsbuildinfo
next-env.d.ts
.DS_Store
.vercel
coverage
